<section class="filters-section">
    <mat-label class="filters-margin width">Congress</mat-label>
    <input matInput [(ngModel)]="congress" type="number" placeholder="80-117" min="{{minCongress}}" max="{{maxCongress}}" >
</section>
<section class="filters-section">
<label class="filters-margin">Chamber:</label>
    <mat-radio-group [(ngModel)]="chamber">
        <mat-radio-button class="filters-radio" value="house">
        House
        </mat-radio-button>
        <mat-radio-button class="filters-radio" value="senate">
        Senate
        </mat-radio-button>
    </mat-radio-group>
</section>
<button mat-button class="sidenav-toggle filters-button" (click)="submitFilters()">
    <mat-icon>ads_click</mat-icon> Submit filters
</button>

    


