.width {
    width: 60%;
} 
  .filters-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: auto;
  }
  
  .filters-margin {
    margin: 20px;
  }
  
  .filters-radio {
    margin: 5px;
  }

  .filters-button {
    width: 100%;
    padding: 5px;
  }